/ejercicio01/nbproject/private/
/ejercicio01/build/
/ejercicio03/nbproject/private/
/ejercicio03/build/
/ejercicio04/nbproject/private/
/ejercicio04/build/
/ejercicio05/nbproject/private/
/ejercicio05/build/
/ejercicio06/nbproject/private/
/ejercicio06/build/
/ejercicioex01/nbproject/private/
/ejercicioex01/build/
/ejercicioex02/nbproject/private/
/ejercicioex02/build/
/ejercicioex03/nbproject/private/
/ejercicioex03/build/
/ejercicioex04/nbproject/private/
/ejercicioex04/build/